absl-py==1.1.0
aiohttp==3.7.3
aiohttp-cors==0.7.0
aioredis==1.3.1
aiosignal==1.2.0
alembic==1.8.0
appdirs==1.4.4
async-timeout==3.0.1
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1640799537051/work
autopage==0.5.1
bayesian-optimization @ file:///home/conda/feedstock_root/build_artifacts/bayesian-optimization_1659460197823/work
bidict==0.22.0
biosppy==0.8.0
blessings==1.7
Braindecode @ file:///mnt/data2/teddy/supp_mat_cadda/code/braindecode-wip
cachetools==5.2.0
certifi==2022.6.15
chardet==3.0.4
charset-normalizer==2.0.12
click==8.0.4
cliff==3.10.1
cmaes==0.8.2
cmd2==2.4.1
colorama==0.4.5
colorful==0.5.4
colorlog==6.6.0
cycler==0.11.0
decorator==5.1.1
Deprecated==1.2.13
distlib==0.3.5
docker-pycreds==0.4.0
filelock==3.8.0
fonttools==4.33.3
frozenlist==1.3.1
gatspy==0.3
gitdb==4.0.9
GitPython==3.1.27
google-api-core==2.8.2
google-auth==2.8.0
google-auth-oauthlib==0.4.6
googleapis-common-protos==1.56.4
gpustat==0.6.0
greenlet==1.1.2
grpcio==1.43.0
h5py==3.7.0
hiredis==2.0.0
idna==3.3
importlib-metadata==4.11.4
importlib-resources==5.8.0
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1603384189793/work
Jinja2==3.1.2
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1633637554808/work
jsonschema==4.9.1
kiwisolver==1.4.3
Mako==1.2.0
Markdown==3.3.7
MarkupSafe==2.1.1
matplotlib==3.5.2
mkl-fft==1.3.1
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626186064646/work
mkl-service==2.4.0
mne==1.0.3
mne-bids==0.10
msgpack==1.0.4
multidict==6.0.2
numpy @ file:///opt/conda/conda-bld/numpy_and_numpy_base_1652801679809/work
nvidia-ml-py3==7.352.0
oauthlib==3.2.0
opencensus==0.11.0
opencensus-context==0.1.3
opencv-python==4.6.0.66
optuna==2.10.1
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pandas==1.4.2
pathtools==0.1.2
patsy==0.5.2
pbr==5.9.0
Pillow==9.0.1
pkgutil_resolve_name==1.3.10
platformdirs==2.5.2
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1648772598846/work
pooch==1.6.0
prettytable==3.3.0
prometheus-client==0.14.1
promise==2.3
protobuf==3.19.4
psutil==5.9.1
py @ file:///home/conda/feedstock_root/build_artifacts/py_1636301881863/work
py-ecg-detectors==1.3.2
py-spy==0.3.12
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1652235407899/work
pyperclip==1.8.2
pyrsistent==0.18.1
pytest==7.1.2
python-dateutil==2.8.2
pytz==2022.1
PyWavelets==1.3.0
PyYAML==6.0
ray==2.1.0
redis==4.3.4
requests==2.28.0
requests-oauthlib==1.3.1
rsa==4.8
scikit-learn @ file:///tmp/abs_d76175bc-917a-47d4-9994-b56265948a6328vmoe2o/croots/recipe/scikit-learn_1658419412415/work
scipy==1.8.1
seaborn==0.11.2
sentry-sdk==1.7.0
setproctitle==1.2.3
shortuuid==1.0.9
six @ file:///tmp/build/80754af9/six_1644875935023/work
skorch==0.11.0
smmap==5.0.0
SQLAlchemy==1.4.37
statsmodels==0.13.2
stevedore==3.5.0
tabulate==0.8.9
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.1
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1643647933166/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1644342247877/work
torch==1.8.1
torchaudio==0.8.0a0+e4e171a
torchsampler==0.1.2
torchvision==0.9.1
tqdm==4.64.0
typing_extensions @ file:///opt/conda/conda-bld/typing_extensions_1647553014482/work
urllib3==1.26.9
virtualenv==20.16.3
wandb==0.13.5
warmup-scheduler @ git+https://github.com/ildoonet/pytorch-gradual-warmup-lr.git@6b5e8953a80aef5b324104dc0c2e9b8c34d622bd
wcwidth==0.2.5
Werkzeug==2.1.2
wrapt==1.14.1
yarl==1.8.1
zipp==3.8.0
